body {
    background-color: #e6f0ff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#login-container {
    margin-top: 100px;
}

#chat-container {
    display: flex;
    margin: 20px;
    justify-content: center;
}

#online-users {
    width: 200px;
    background: #ffffff;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px #99ccff;
}

#chatbox-container {
    width: 400px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px #99ccff;
}

#chatbox {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #99ccff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #f7fbff;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #99ccff;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 5px;
}
